:root{
    --white: hsl(0, 0%, 100%);
--black: hsl(0, 0%, 0%);
--dark-Gray: hsl(0, 0%, 55%);
--very-Dark-Gray: hsl(0, 0%, 41%);
--font-josefin-sans: "Josefin Sans", sans-serif;
}



*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Alata", sans-serif;
}

/*header*/
.container{
    width: 90%;
    margin: 0 auto;
max-width: 1200px;


overflow: hidden; /*Recuerda que esta propiedad hace que todo elemento que salga del contenedor se esconda*/
}

.hero{
    min-height: 500px;
    background-image: url(../images/mobile/image-hero.jpg);
    background-position: center;
    background-size: cover;
    
}
.hero__text{
    padding: 120px 0;
    
}

.hero__title{
    max-width: 500px;
    color: var(--white);
    border: 2px solid;
    font-family: var(--font-josefin-sans);
    font-size: 3.5rem;
    padding: 2.3rem;
    font-weight: 300;
   
}


.nav{
--close: none;
--hamburguer: block;
--transform: translate(-100%); /*Esto hará que se traslade hacia la izquierda*/
    display: grid;
    grid-template-columns: max-content max-content; /*Aquí le estoy diciendo que cree 2 columnas del máximo contenido porque solo tenemos el logo y el menú hamburguesa, y para que se sitúen por igual o de manera equitativa y se vea ordenado le colocamos así*/
    grid-template-areas: "logo active";
    justify-content: space-between;
    padding: 45px 0 0;
}

.nav:target{
    --close: block;
--hamburguer: none;
--transform: translate(0); 
}

.nav__logo{
    z-index: 1; /*Los grid-items y los flex-items pueden usar el valor de z-index, esto es para que se posicione el logo sobre el background*/
}

.nav__hamburguer, .nav__close{
grid-area: active;
place-self: center;
cursor: pointer;
z-index: 1;
}

.nav__hamburguer{
    display: var(--hamburguer);
}

.nav__close{
    display: var(--close);
}

.nav__img{
    display: block;
}

.nav__links{
   
    position:absolute;
    background-color: var(--black);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;/*Esto hace que ocupemos el 100% del viewport (ventana gráfica)*/
    min-height: 500px;
    padding: 0;
    display: grid;
    place-content: center start;
    gap: 2em;
    padding-left: 5%;

    transform: var(--transform);
    transition: transform .4s ;
}

.nav__list{
 list-style: none;
}

.nav__link{
    color: #fff;
    text-decoration: none;
    font-size: 1.6rem;
    font-family: var(--font-josefin-sans);
    text-transform: uppercase;
    font-weight: 300;
}


/*seccion de leader*/

.leader{
    display: grid;
    gap: 2.5em;
}

.leader__img{
    width: 100%;
margin-top: 5.5em;
}

.leader__texts{
    text-align: center;
    
}

.subtitle{
    font-family: var(--font-josefin-sans);
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--black);
    font-weight: 300;
    text-align: center;
  
}

.leader__paragraph{
color: var(--dark-Gray);
line-height: 1.5;
margin-top: 1.5em;
margin: 1.5em 0px 5.5em 0px;
}

/*gallery*/

.gallery{
 display: grid;
    row-gap: 3em
}



.gallery__cta{
    place-self: center;
    order: 1;
    color: var(--black);
    border: 2px solid ;
    font-size: 1.2rem;
    padding: .6em 3.8em;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 5.5em;
}


.gallery__container{
    margin-top: 1em;
display: grid;
gap: 2em;
}

.gallery__picture{
    display: grid;
    grid-template-areas: "show";
}

.gallery__picture::before{
    content: "";
    z-index: 10;
    grid-area: show;
    background-image: linear-gradient(to top, rgba(0,0,0,0.517) 30%, rgba(0,0,0,0.256));
    color: red;
}

.gallery__picture::after{
    content: attr(data-message) "";   /*Al hacer esto le estoy diciendo que el contenido o el texto de este pseudoelemento será el de su atributo */
    text-transform: uppercase;
    color: #fff;
    grid-area: show;
    font-weight: 300;
    font-family: var(--font-josefin-sans) ;
    font-size: 1.8rem;
    z-index: 10;
    place-self: end start;
    width: 30%;
    padding: 1rem;
 
}

.gallery__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-area: show;

}

.gallery__cta:hover{
    background-color: var(--black);
    color:#fff;
    transition: 0.5s
};

.footer {
    background-color: var(--black);
    width: 100%;
}

.footer__container {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
    padding: 2.5em 0;
    background-color: var(--black);
    width: 100%;
}

.footer__links {
    margin: 2.5em 0;
    display: grid;
    gap: 1.7em;
    padding: 0;
}

.footer__list {
    list-style: none;
}

.footer__link {
    color: #fff;
    text-decoration: none;
}

.footer__nav {
    display: grid;
    grid-auto-flow: column;
    gap: 2em;
}

.footer__copy {
    margin-top: 1.5em;
    color: var(--dark-Gray);
}



@media (min-width: 768px){


    .hero{
        background-image: url(../images/desktop/image-hero.jpg);
        
    }

    .nav{
        --hamburguer: none;
        }

        .nav:target{
            --close: none;
        --hamburguer: none;
    
        }

        .nav__links{
            transform: unset;
            position:unset;
            background-color: transparent;
       
            min-height:unset;
            padding: 0;
            display: grid;
            place-content: center start;
            gap: 2em;
      grid-auto-flow: column;
      gap: 1em;
        
            transition:unset ;
        }
        

        .nav__link{
            font-size: 1.2rem;
            font-family: unset;
            text-transform: none;
        }
        
        .leader{
         
            min-height: 350px;
            grid-template-columns: repeat(7,1fr);
            grid-template-rows: repeat(5,1fr);
            gap: 0;
            margin-bottom: 6.5em;
        }
        
        .leader__paragraph{
        margin :0
        }


.leader__picture{
    grid-column: 1/5;
    grid-row: 1/5;
}


        .leader__img{
            height: 100%;
            object-fit: cover;
      
        }
        
        .leader__texts{
            text-align: left;
            background-color: #fff;
            grid-column: 4/8;
            grid-row: 3/6;
            padding: 2.5em;
        }
        
        .subtitle{
        
            font-size: 2.8rem;
  
          
        }
        .gallery{
 grid-template-columns: repeat(2, auto);
 grid-template-rows: repeat(2, auto);
 justify-content: space-between;
           }
           
           
           
           .gallery__cta{
            grid-column: 2/3;
            grid-row: 1/2;
            margin-bottom: 0;
           }
           
           
           .gallery__container{
      grid-column: 1/-1; /*Acá le estamos diciendo que empieze desde la primera fila hasta la última*/
      grid-row: 2/3; /*Acá en filas le estamos diciendo que empieze desde la 2da hasta la 3ra*/
      grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
           }
           
     
           .gallery__picture::after{
           width: 50%;
            
           }

           .footer__container {
            margin-top: 7.5em;
            grid-template-columns: repeat(2, max-content);
            row-gap: 3em;
            grid-template-areas: 
                "logo social"
                "links copy";
            justify-content: space-evenly;
            align-items: center;
          
        }
    
        .footer__logo {
            grid-area: logo;
            justify-self: start;
        }
    
        .footer__links {
            margin: 0;
            grid-area: links;
            grid-auto-flow: column;
            gap: 1.2em;
            font-size: 1.2rem;
        }
    
        .footer__nav {
            grid-area: social;
            justify-self: end;
        }
    
        .footer__copy {
            grid-area: copy;
            margin-top: 0;
            color: var(--dark-Gray);
        }
        }
        
        
